html,
body,
#viewDiv {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  font-size: 2em;
  font-family: "Permanent Marker", cursive;
  max-width: 30%;
}

.title {
  border-bottom-right-radius: 70%;
  font-size: 1.3rem;
  color: rgb(3, 3, 3);
}
